# Aim

To implement Support Vector Machines

# Algorithm

    Import necessary libraries
    Import CSV
    Do pre-processing, if needed.
    Train the model using SVM
    Predict the output

# Code

Import Libraries

In [23]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

In [24]:
fish = pd.read_csv('fish.csv')
fish

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1     Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

In [25]:
X = fish.iloc[:,1:]
X

     Weight  Length1  Length2  Length3   Height   Width
0     242.0     23.2     25.4     30.0  11.5200  4.0200
1     290.0     24.0     26.3     31.2  12.4800  4.3056
2     340.0     23.9     26.5     31.1  12.3778  4.6961
3     363.0     26.3     29.0     33.5  12.7300  4.4555
4     430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...      ...      ...      ...      ...     ...
154    12.2     11.5     12.2     13.4   2.0904  1.3936
155    13.4     11.7     12.4     13.5   2.4300  1.2690
156    12.2     12.1     13.0     13.8   2.2770  1.2558
157    19.7     13.2     14.3     15.2   2.8728  2.0672
158    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 6 columns]

In [26]:
Y = fish.Species
Y

0      Bream
1      Bream
2      Bream
3      Bream
4      Bream
       ...
154    Smelt
155    Smelt
156    Smelt
157    Smelt
158    Smelt
Name: Species, Length: 159, dtype: object

In [27]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2)

In [28]:
model = SVC(kernel='linear',C = 1)

In [29]:
model.fit(X_train,Y_train)

SVC(C=1, kernel='linear')

In [30]:
svm_prediction = model.predict(X_test)
svm_prediction

array(['Perch', 'Perch', 'Smelt', 'Perch', 'Parkki', 'Roach', 'Perch',
       'Perch', 'Pike', 'Pike', 'Bream', 'Bream', 'Bream', 'Smelt',
       'Pike', 'Bream', 'Smelt', 'Roach', 'Bream', 'Perch', 'Bream',
       'Perch', 'Bream', 'Roach', 'Parkki', 'Bream', 'Bream', 'Perch',
       'Bream', 'Bream', 'Bream', 'Perch'], dtype=object)

In [31]:
accuracy = model.score(X_test,Y_test)

In [32]:
print('Accuracy = ',accuracy*100)

Accuracy =  96.875